html {
    font-family: 'Times New Roman', Times, serif;
}

img#logo{
    width: 200px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    width: 100%;
    justify-content: space-evenly;
    box-shadow: 0px 1px 4px black;
    padding: 5px;
    margin: -10px 0px 0px -5px;
}

body {
    background-color:#14c599;
}

div.main {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    box-shadow: 0 0 5px black;
}

h1, h2{
    color: #0e0641;
}

a{
    color:#14c599;
    font-weight: bolder;
}

table#tipos{
    border: 1px solid black;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
    
}

table#tipos h2{
    text-align: center;
}

table#tipos th{
    border: 1px solid black;
    padding: 10px;
    background-color: #14c599;
    color: white;
    font-weight: bold;
}

table#tipos tr td{
    padding: 10px;
}

table#tipos td{
    border: 1px solid black
    
}

button {
    padding: 25px;
    width: 200px;
    background-color: #0e0641;
    box-shadow: 1px 1px 10px #14c599;
    color: white;
    font-weight: bolder;
    font-size: large;
    border-radius: 10px;
}

button:hover{
    background-color: #14c599;
    transition: background-color 0.5s;
    cursor: pointer;
}